<!DOCTYPE html>
<html>
<head>
    <title>Login<%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/users/loggedin">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="/users/register">Register here</a></p>
</body>
   
</body>
</html>