<!doctype html>
<html>
<head>
    <title>Register for <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Register for <%=shopData.shopName%></h1>

    <% if (errors.length > 0) { %>
        <ul style="color:red;">
            <% errors.forEach(err => { %>
                <li><%= err.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <form method="POST" action="registered">
        <p>Username: <input type="text" name="username" required /></p>
        <p>Password: <input type="password" name="password" required /></p>
        <p>First name: <input type="text" name="first" /></p>
        <p>Last name: <input type="text" name="last" /></p>
        <p>Email: <input type="email" name="email" /></p>
        <input type="submit" value="Register" />
    </form>
</body>
</html>
