<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
<body>
    <h1>Search for Books</h1>
    <form method="GET" action="/books/search_result">
        <label for="keyword">Search Keyword:</label>
        <input type="text" id="keyword" name="keyword" required>
        <input type="submit" value="Search">
    </form>
    <a href="/">Home</a>
</body>
</html>